<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../assets/css/index.css">
</head>
<body>
    <h1><%= title %></h1>
<ul>
    <% for (let i=0; i<find.length;i++) { %>
        <li> <%= find[i].name %> <%= find[i].rank %></li>
    <% } %>
</ul>

<button id="btn">Odczyt z bazy danych</button>

<ul>
    <li id="danePobrane1"></li>
    <li id="danePobrane2"></li>
    <li id="danePobrane3"></li>
</ul>

<form action="/" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="number" placeholder="age" name="age">
    <input type="text" placeholder="rank" name="rank">
    <button type="submit">Dodaj do bazy</button>
</form>

<form action="/update" method="POST">
    <button type="submit">Uaktualnij</button>
</form>


<form action="/deleteChoosen" method="POST">
    <select name="ktoryUsunac" id="">
        <option value="0">1</option>
        <option value="1">2</option>
        <option value="2">3</option>
        <option value="3">4</option>
        <option value="4">5</option>
        <option value="5">6</option>
        <option value="6">7</option>
    </select>

    <button type="submit">Usuń</button>
</form>

    <script src="./../js/index.js"></script>
</body>
</html>